<div class="container">
  <div id="contact" class="page-header">
    <h1>Contact Us</h1>
  </div>
  <div id="contact-info">
    <div class="row">
      <img src="<%= asset_path('Octocat.png') %>" width="140px" height="140px" class="img-rounded">
      <button class="btn btn-primary btn-lg">GitHub</button>
    </div>
  </div>
</div>
