<div id="home">
  <img src="<%= asset_path('space.jpg') %>" class="img-responsive">
  <div class="text">
    <h1 id="title">Eurythmic Media <small>Web Development & Design</small></h1>
  </div>
</div>
