<div class="container">
  <div id="services" class="page-header">
    <h1>Services</h1>
  </div>
    <h3 class="page-header">< / > Web Development</h3>
    <div class="row">
      <div class="col-sm-6">
        <ul>Front-end Development</ul>
      </div>
      <div class="col-sm-6">
        <ul>Back-end Development</ul>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-6">
        <ul>Full-Stack JavaScript Web Apps</ul>
      </div>
      <div class="col-sm-6">
        <ul>Full-Stack Rails Web Apps</ul>
      </div>
    </div>
    <br>
    <h3 class="page-header">User Experience and Design</h3>
    <div class="row">
      <div class="col-sm-6">
        <ul>User Research</ul>
      </div>
      <div class="col-sm-6">
        <ul>Interface Design</ul>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-6">
        <ul>Wireframes</ul>
      </div>
      <div class="col-sm-6">
        <ul>Prototypes</ul>
      </div>
    </div>
</div>
